name: Lint and Test

on:
  workflow_call:
    inputs:
      run_lint:
        required: false
        type: boolean
        default: true
      run_tests:
        required: false
        type: boolean
        default: true

jobs:
  lint:
    if: ${{ inputs.run_lint }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Verificar estilo do código (Lint)
        run: mvn checkstyle:check

  test:
    if: ${{ inputs.run_tests }}
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Executar testes
        run: mvn test
